<div class="wrapper">
    <div class="content">
      <div id="section2" class="structure-section">
        <h2>Структура</h2>
        <p>Заходя в ваш профиль, человек сразу должен понять: кто вы, что  предлагаете, <br> как купить,  как доставляете. Всё чётко, понятно, по полочкам. Без догадок.</p>
      
        <h4><strong>Информация, которую ищут чаще всего:</strong></h4>
        <ul>
          <li>Условия покупки</li>
          <li>Доставка / возврат</li>
          <li>Где вы находитесь</li>
          <li>Контакты</li>
          <li>Цены, прайс</li>
          <li>Цвета, размеры, варианты услуг</li>
        </ul>
      
        <p><em>Где всё это должно быть?<br>
        — В хайлайтс и закрепах. Красиво, аккуратно и по темам.</em></p>
      
        <hr>
      
        <h3>Никнейм</h3>
        <ul>
          <li>Лёгкий, читаемый, без лишних символов и цифр</li>
          <li>Желательно: название бренда или ваше имя + род деятельности</li>
        </ul>
 

        <hr>
      
        <h3>Имя профиля</h3>
        <ul>
          <li>Включает ключевые слова, по которым вас будут искать</li>
          <li>[название бренда + услуга/товар]</li>
        </ul>
      
        <h4><strong>Примеры:</strong></h4>
        <ul>
          <li>Плиточник | Укладка плитки</li>
          <li>Лилия | Торты на заказ | Санкт-Петербург</li>
        </ul>
           
        <div class="nikname">
          <span>&#64;maya_target_SMM</span>
          </div>
        <hr>
      
      </div>
    </div>
  </div>