<div class="container">
    <div class="left-side"></div>
    <div class="right-side">
      <div class="text-side">
        <h1>Как оформить Instagram, который продаёт</h1>
        <p><strong>Instagram — это визитка вашего бизнеса.</strong></p>
        <p>Это первое, что видит клиент. Задача профиля — вызвать доверие, желание остаться, подписаться… и в итоге — купить.</p>
        <p><strong>Оформление — это не “эстетика ради эстетики”,</strong> а мощный инструмент продаж.</p>
      </div>
      <div class="nikname">
        <span>&#64;maya_target_SMM</span>
        </div>
      </div>
    </div>
  